<!DOCTYPE html>
<html>
<head>
  <title>RollingPosts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-sm-10">
      <a class="navbar-brand" href="#">Rolling posts</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li>
            <span class="navbar-text">You are <%= link_to current_user.name, '#' %></span>
          </li>
          <li><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-default' %></li>
        <% else %>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'btn navbar-btn' %>
            <%= link_to 'Log in', new_user_session_path %>
        <% end %>
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
